<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DogsAndCats</title>
    {% load static %}
</head>
<body>
    <fieldset>
        <legend><h1>Dogs and Cats</h1></legend>
        {% if dogs_and_cats %}
                {% for pet in dogs_and_cats %}
{#                    <a href="{% url 'DogsAndCats_content:detail' pet.id %}">#}
                        <button type="button" class="pet">{{ pet.name }}</button>
{#                    </a>#}
                    <br><br>
                {% endfor %}
        {% else %}
            <p>No pets are available</p>
        {% endif %}
    </fieldset>
</body>
</html>